<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jordan.divvyupv12">

    <!-- Added the permission to access internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name=".LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jordan.divvyupv12.LoginActivity" />

            <intent-filter>
                <action android:name="com.example.jordan.divvyupv12.RegisterActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HubActivity"
            android:label="@string/title_activity_hub"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jordan.divvyupv12.LoginActivity" />

            <intent-filter>
                <action android:name="com.example.jordan.divvyupv12.HubActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FilesActivity"
            android:label="@string/title_activity_files"
            android:parentActivityName=".HubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jordan.divvyupv12.HubActivity" />

            <intent-filter>
                <action android:name="com.example.jordan.divvyupv12.FilesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddUserToFileActivity"
            android:label="Add User to an Existing File"
            android:parentActivityName=".FilesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jordan.divvyupv12.FilesActivity" />

            <intent-filter>
                <action android:name="com.example.jordan.divvyupv12.AddUserToFileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateFileActivity"
            android:label="@string/title_activity_create_file"
            android:parentActivityName=".FilesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jordan.divvyupv12.FilesActivity" />
        </activity>
        <activity
            android:name=".ManageAccountActivity"
            android:label="@string/title_activity_manage_account"
            android:parentActivityName=".HubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jordan.divvyupv12.HubActivity" />

            <intent-filter>
                <action android:name="com.example.jordan.divvyupv12.ManageAccountActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GroupsActivity"
            android:label="@string/title_activity_groups"
            android:parentActivityName=".HubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jordan.divvyupv12.HubActivity" />

            <intent-filter>
                <action android:name="com.example.jordan.divvyupv12.GroupsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateGroupActivity"
            android:label="@string/title_activity_create_group"
            android:parentActivityName=".GroupsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jordan.divvyupv12.GroupsActivity" />

            <intent-filter>
                <action android:name="com.example.jordan.divvyupv12.CreateGroupActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManageGroupActivity"
            android:label="@string/title_activity_manage_group"
            android:parentActivityName=".GroupsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jordan.divvyupv12.GroupsActivity" />

            <intent-filter>
                <action android:name="com.example.jordan.divvyupv12.ManageGroupActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShareFileActivity"
            android:label="@string/title_activity_share_file"
            android:parentActivityName=".FilesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jordan.divvyupv12.FilesActivity" />

            <intent-filter>
                <action android:name="com.example.jordan.divvyupv12.ShareFileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>